@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: #08d9d6;
  font-family: 'Alatsi', sans-serif;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 6rem;
  color: #ff2e63;
  text-shadow: 3px 1px white;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
footer {
  color: #DBEDF3;
  font-size: 2rem;
}

.a {
  background-image: url("images/tom1.png");
}

.s {
  background-image: url("images/tom2.png");
}

.d {
  background-image: url("images/tom3.png");
}

.f {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin-bottom: 8%;
  margin-top: 7%;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  border: 3px solid #ff2e63;
  font-size: 5rem;
  font-family: monospace;
  line-height: 2;
  font-weight: 700;
  color: #ff2e63;
  text-shadow: 1.5px 1px white;
  border-radius: 50%;;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}
